<!DOCTYPE html>
  {% extends 'basic_app/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">


  <div class="jumbotron">
   {% if registered  %}

   <h1>Thankyou for the registaration!!!</h1>


    <a class="btn btn-primary" href="{% static 'pic.png' %}" role="button">CaloriePage</a>
      <a class="btn btn-primary" href="https://www.freedieting.com/calorie-calculator" role="button">CalorieCal</a>
{% else %}
   <h1>Register Here !!</h1>
   <h3>Fill out the form !!</h3>

   <form method="post" enctype="multipart/form-data">

     {% csrf_token %}
     {{ user_form.as_p }}
     {{ profile_form.as_p }}
     <input type="submit" name="" value="Register">
   </form>

   {% endif %}

  </div>
  </div>

{% endblock %}
